*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
}
:root{
         --main-color:#FF9800;
}
body{
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(max-width:768px)
{
         .container{
                  width:750px;
         }
}
/* meduim */
@media (min-width:992px)
{
         .container{
                  width: 970px;
         }
}
/* large */
@media(min-width:1200px)
{
         .container{
                  width:1330px;
                  
         }
}
/* start setting box */
.setting-box
{
  position: fixed;
  left: -200px;
  top:0;
  background-color: rgba(255, 255, 255, 0.664);
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
}
.open{
   left:0;
}
.setting-box .toggle-setting
{
    position: absolute;
    right: -30px;
    top:100px;
    background-color: #fff;
    text-align: center;
   cursor: pointer;
}
.setting-box .toggle-setting .fas  
{
  width: 30px;
  padding: 8px 0;
}
.setting-box .setting-content
{
   

}
/* End setting box */
/* start landing pafe */
.landing-page{
         min-height: 100vh;
         background-image: url(../images/course-1.jpg);
         background-size: cover;
         position: relative;
}
.landing-page .overlay{
         position: absolute;
         left: 0;
         top:0;
         background-color: rgba(0,0,0,0.7);
         height: 100%;
         width: 100%;
         z-index: 1;
}
.landing-page .header-area{
         position: relative;
         z-index: 2;
         color:#fff;
         display: flex;
         padding: 10px;
         
}
.header-area .log{
         width: 300px;
         padding: 15px;
}
.header-area .links{
         list-style: none;
         padding-left: 0;
         padding-right: 20px;
         width: 100%;
         text-align: right;
         font-size: 15px;
        
}
.header-area .links li{
         display: inline-block;
         padding:20px ;
         
}
.header-area .links li a{
         color: white;
         text-decoration: none;
         transition: 0.3s;
         
}
.header-area .links li a:hover ,.header-area .links li a:active
{
   color:var(--main-color);
   border-bottom: 1px solid var(--main-color);

}
.landing-page .introduction-text{
         position: absolute;
         left: 50%;
         top:50%;
         transform: translate(-50%,-50%);
         text-align: center;
         /* background-color: #ffffffbc; */
         z-index: 2;
         width:700px;
}
.landing-page .introduction-text h1{
         font-size: 60px;
         margin-top: 20px;
}
.landing-page .introduction-text h1 span{
         color:var(--main-color)
} 
.landing-page .introduction-text p{
         letter-spacing:2;
         line-height: 1.6;
         margin-top: 10px;
         font-size: 30px;
         color:white;
}
/* end landing page */