*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
}
:root{
         --main-color:#FF9800;
}
body{
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(max-width:768px)
{
         .container{
                  width:750px;
         }
}
/* meduim */
@media (min-width:992px)
{
         .container{
                  width: 970px;
         }
}
/* large */
@media(min-width:1200px)
{
         .container{
                  width:1500px;
                  margin-left: 10px;
                  
         }
}
/* start setting box */
.setting-box
{
  position: fixed;
  left: -200px;
  top:0;
  background-color: rgb(255, 255, 255);
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
  border: 1px solid #EEE;
}
.open{
   left:0;
}
.setting-box .toggle-setting
{
    position: absolute;
    right: -30px;
    top:100px;
    background-color: #fff;
    text-align: center;
   cursor: pointer;
}
.setting-box .toggle-setting .fas  
{
  width: 30px;
  padding: 8px 0;
}
.setting-box  .option-box
{
   padding: 10px;
   text-align: center;
   background-color: #EEE;
   margin: 20px;
  
}
.setting-box  .option-box h4
{
   margin: 0;
   color:#666;
   font-size: 14px;
   

}
.setting-box  .option-box .colors-list
{
   list-style: none;
   text-align: center;
   padding: 0;
   margin: 10px 0 0;

}
.setting-box  .option-box .colors-list li
{
   
   width: 24px;
   height: 24px;
   background-color: black;
   border-radius: 50%;
   cursor: pointer;
   display: inline-block;
   border:3px solid #EEE;
}
.setting-box  .option-box .colors-list li.active
{
  border-color: #fff;
}
.setting-box  .option-box .colors-list li:first-child
{
   background-color:#FF9800;;

}
.setting-box  .option-box .colors-list li:nth-child(2)
{
   background-color: #E91E63;

}
.setting-box  .option-box .colors-list li:nth-child(3)
{
   background-color: #009688;

}

.setting-box  .option-box .colors-list li:nth-child(4)
{
   background-color: #03A9F4;

}

.setting-box  .option-box .colors-list li:nth-child(5)
{
   background-color:#4CAF50;

}
.setting-box  .option-box .yes,.setting-box   .option-box .no
{
   width: 50px;
   background-color: var(--main-color);
   color:#fff;
   margin-top: 10px;
   display: inline-block;
   font-size: 12px;
   padding: 3px 10px;
   font-weight: bold;
   border-radius: 4px;
   opacity: 0.5;
   cursor: pointer;
}
.setting-box   .option-box span.active{
   opacity: 1;
}
.setting-box .option-box .yes
{
 background-color: var(--main-color);

}
.setting-box .setting-container .reset-option{
   background-color: blue;
   border:none;
   width: 178px;
   margin: 10px auto;
   display: block;
   color:#FFF;
   font-weight: bold;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;

}
.setting-box  .random-backgrounds .no
{ 

}
.setting-box  .option-box .active{

}
/* End setting box */
/* start Nav Bullet */
.nav-bullets{
      position: fixed;
      right: 0;
      top:50%;
      transform: translateY(-50%);
      width: 40px;
      z-index: 2000;
}
.nav-bullets .bullet{
   width: 20px;
   height: 20px;
   border: 3px solid var(--main-color);
   margin: 10px auto;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
}
.nav-bullets .bullet:hover .tooltip {
display: block;
}
.nav-bullets .bullet .tooltip{
   background-color: var(--main-color);
   width: 120px;
   color:#FFF;
   padding: 8px 10px;
   position: absolute;
   right: 40px;
   top: -10px;
   text-align: center;
   cursor: default;
   pointer-events: none;
   display: none;

}
.nav-bullets .bullet .tooltip::after{
   content: "";
   border-style:solid ;
   border-width: 10px;
   border-color: transparent   transparent  transparent var(--main-color);
   height: 0;
   width: 0;
   position: absolute;
   right: -20px;
   top:50%;
   transform: translateY(-50%);

}
/* ENd Nav BUllet */
/* start landing pafe */
.landing-page{
         min-height: 100vh;
         background-image: url(../images/course-1.jpg);
         background-size: cover;
         position: relative;
}
.landing-page .overlay{
         position: absolute;
         left: 0;
         top:0;
         background-color: rgba(0,0,0,0.7);
         height: 100%;
         width: 100%;
         z-index: 1;
}
.landing-page .header-area{
        width: 100%;
         position: relative;
         z-index: 2;
         color:#fff;
         display: flex;
         padding: 10px;
         
}
.header-area .log{
         width: 300px;
         padding: 15px;
}
.header-area .header-container{
   width: 100%;
}
.header-area .links{
        position: absolute;
        right: 7px;
         list-style: none;
         font-size: 15px;
       
}
.header-area .links li{
         display: inline-block;
         padding:10px ;
         
}
.header-area .links li a{
         color: white;
         text-decoration: none;
         transition: 0.3s;
         
}
.header-area .links li a.active{
   color: var(--main-color);
   text-decoration: none;
   transition: 0.3s;
   
}
.header-area .links li a:hover ,.header-area .links li a:active
{
   color:var(--main-color);
   border-bottom: 1px solid var(--main-color);

}
 .header-area .toggle-menu{
     background: none;
     border:none;
     width: 40px;
     cursor: pointer;
     display: none;
     margin-top: 15px;
 }
@media(max-width:768px){
   .header-area .toggle-menu{
      display: inline-block;
      margin-left: 700px;
   }
   .header-area .links{
      display: none;
   }
}
.header-area .toggle-menu span{
     display: block;
     background-color: #FFF;
     height: 4px;
     margin-bottom: 3px;

}
.landing-page .introduction-text{
         position: absolute;
         left: 50%;
         top:50%;
         transform: translate(-50%,-50%);
         text-align: center;
         /* background-color: #ffffffbc; */
         z-index: 2;
         width:700px;
}
.landing-page .introduction-text h1{
         font-size: 60px;
         margin-top: 20px;
}
.landing-page .introduction-text h1 span{
         color:var(--main-color)
} 
.landing-page .introduction-text p{
         letter-spacing:2;
         line-height: 1.6;
         margin-top: 10px;
         font-size: 30px;
         color:white;
}
/* end landing page */

/* start About-US */
.about-us{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box{
   flex: 1;
   margin-left: 150px;
   padding: 30px;
}
.about-us .info-box h2{
   font-weight: bold;
   font-size: 30px;
   color: var(--main-color);
   margin: 0 0 10px;
}
.about-us .info-box p{
   line-height: 1.5;
   color: #767676;
   margin: 0;
}
.about-us .image-box {
   flex:1;
   text-align: center;
}
.about-us .image-box img 
{
   width: 250px;
   
}
/* End About us */

/* Start skills */
.skills{
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #EEE;
   margin-left:7px;
}
.skills h2
{
   font-weight: bold;
   font-size: 30px;
   color: var(--main-color);
   margin: 0 0 50px;
   text-align: center;
}
.skills .skill-box{
   background-color: #FFF;
   display: flex;
   width: 95%;
   margin: auto;
   padding: 20px;
   margin-bottom: 15px;
}
.skills .skill-box  .skill-name{
  font-weight: bold;
  width:140px;
  text-align: center;
  line-height: 30px;
   
}
.skills .skill-box  .skill-progress{
   height: 30px;
   width: 100%;
   background-color: #00000028;
   border-radius: 6px;
   position: relative;
   overflow: hidden;
}
.skill-progress span{
   position: absolute;
   left: 0;
   top:0;
   width: 0;
   height: 100%;
   background-color: var(--main-color);
   transition: all 0.5s;
}
/* End Skills */
/* start gallery */
.gallery
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery h2
{
   font-weight: bold;
   font-size: 30px;
   color: var(--main-color);
   margin: 0 0 50px;
   text-align: center;
   
}
.gallery .images-box
{
   text-align: center;
   
}
.gallery .images-box img
{
   width: 200px;
   height: 100px;
   padding: 3px;
   background-color: #F6F6F6;
   border:1px solid #CCC;
   margin: 5px;
   cursor: pointer;
   
}
.popup-overlay{
   position: fixed;
   background-color:rgba(0,0,0,0.2);
   left: 0;
   top:0;
   width: 100%;
   height: 100%;
   z-index: 1000;

}
.popup-box{
   position: fixed;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
   background-color: #FFF;
   border: 1px solid #CCC;
   padding: 20px;
   z-index: 1001;
}
.popup-box h3{
   font-weight: bold;
   text-align: center;
   margin: 0 0 20px;
   color: var(--main-color);
}
.popup-box img{
   max-width: 100%;
}
.close-button{
   position: absolute;
   top:0;
   right:0;
   background-color: var(--main-color);
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   font-size: 20px;
   color:#FFF;
   cursor: pointer;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 50%;
}
/* end gallery */
/* start timeline */
.timeline{
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #EEE;
   margin-left: 7px;
}
.timeline .timeline-content{
   position: relative;
   overflow: hidden;
  
}
.timeline .timeline-content::before{
 position: absolute;
 content: "";
 width: 2px;
 height: 100%;
 background-color: var(--main-color);
 left:50%;
 margin-left: -1px;
 top:0;
}
.timeline .timeline-content .year{
   margin: 20px auto;
   width: 50px;
   background-color: var(--main-color);
   position: relative;
   border-radius: 4px;
   text-align: center;
   color: #FFF;
   padding: 2px 5px;
   font-weight: bold;

}

.timeline .timeline-content .left,.timeline .timeline-content .right
{
   width: 45%;
   margin-bottom: 40px;
   position: relative;

}
.timeline .timeline-content .left{
   float: left;
   left: 20px;
}
.timeline .timeline-content .left::before{
   right: -30px;
}
.timeline .timeline-content .right{
   float: right;
   right: 20px;
}
.timeline .timeline-content .right::before{
   left: -30px; 
}
.timeline .timeline-content .right::before,.timeline .timeline-content .left::before{
   content: "";
   width: 14px;
   height: 14px;
   background-color: #FFF;
   border:3px solid var(--main-color);
   position: absolute;
   border-radius: 50%;
   top:20px; 
}
.timeline .timeline-content .content{
   padding: 20px;
   background-color: #FFF;
}
.timeline .timeline-content .content h3{
   font-weight: bold;
   color: var(--main-color);
   margin: 0 0 10px;
}
.timeline .timeline-content .content p{
   color:#666;
   margin: 0;
   line-height: 1.6;
}
.clearfix{
   clear: both;
}
.timeline .timeline-content .left .content::before
{
   content: "";
   border-style:solid ;
   border-width: 10px;
   border-color: transparent transparent  transparent #FFF;
   height: 0;
   width: 0;
   position: absolute;
   right: -20px;
   top:20px

}
.timeline .timeline-content .right .content::before
{
   content: "";
   border-style:solid ;
   border-width: 10px;
   border-color: transparent #FFF  transparent  transparent;
   height: 0;
   width: 0;
   position: absolute;
   left: -20px;
   top:20px

}
/* End timeline */

/* start features */
.features{
   padding-top: 30px;
   padding-bottom: 30px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   margin-left: 10px;
  
}
@media(max-width:768px){
   .features{
      display: flex;
      flex-direction: column;
   }
   .features .feat-box{
      margin: auto;
   }
}
.features-head {
   font-weight: bold;
   font-size: 30px;
   color: var(--main-color);
   margin: 0 0 60px;
   text-align: center;
   margin-top: 50px;
}
.features .feat-box{
   width:400px;
   float: left;
   text-align: center;
   margin-bottom: 40px;
}
.features .feat-box img{
   width: 150px;
}
.features .feat-box h4{
   font-size: 20px;
   margin: 15px 0 40px;
   position: relative;
}
.features .feat-box h4::before{
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.features .feat-box p{
   width: 80%;
   margin: 0 auto;
   line-height: 1.6;
   color: #777;
}
/* end features */
/* start testmoinals */
.testmoinals
{
   min-height: 500px;
   position: relative;
   padding-top: 80px;
   padding-bottom: 80px;

  
}
@media(max-width:768px)
{
.testmoinals
{
   display: flex;
   flex-direction: column;
  
}
.testmoinals .testmoinals-content{
   margin-left: 150px;
}
.testmoinals .testmoinals-content .ts-box{
   margin-top: 5px;
}
 
}
.testmoinals::before
{
  content: '';
   width: 50%;
   position: absolute;
   left: 0;
   top:0;
   background-color: var(--main-color);
   height: 100%;
  
}
.testmoinals::after
{
   content: '';
   width: 50%;
   position: absolute;
   right: 0;
   top:0;
   background-color: #333;
   height: 100%;
  
}
.testmoinals h2
{
   font-weight: bold;
   font-size: 30px;
   color:#FFF;
   margin: 0 0 60px;
   text-align: left;
   position: relative;
   z-index: 2;
   
}
.testmoinals-content .ts-box
{
   position: relative;
   z-index: 2;
   width: 400px;
   float: left;
   margin-left: 70px;
   background-color: #FFF;
   padding: 20px;
   font-size: 22px;

}
.testmoinals-content .ts-box > p
{
   margin: 0 0 15px;
   line-height: 1.5;
   font-size: 18px;
   color: #707070;
   font-style: italic;

}
.testmoinals-content .ts-box .person-info
{
   overflow: hidden;

}
.testmoinals-content .ts-box .person-info img
{
     float: left;
     border-radius: 50%;
     margin-right: 20px;

}
.testmoinals-content .ts-box .person-info  h4
{
   margin: 14px 0 6px;

}
.testmoinals-content .ts-box .person-info  p
{
   color: #777;
   margin: 0;

}
/* end testmoinals */
/* start contact us */
.contact{
   min-height: 600px;
   background-image: url(../images/course-1.jpg);
   background-size: cover;
   padding-top: 80px;
   padding-bottom: 80px;
   position: relative;
}
.contact .contact-container
{
   position: relative;
   z-index: 2;
}

.contact .overlay{
   position: absolute;
   left: 0;
   top:0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255,0.6);
}
.contact-container h2{
   font-weight: bold;
   font-size: 30px;
   color:var(--main-color);
   margin: 0 0 60px;
   text-align: center;
}
.contact form{
   overflow: hidden;
   width: 70%;
   margin: auto;

}
.contact form .left{
  float: left;
  width: 49%;
   
}
.contact form .right{
   float: right;
   width:49%;
}
.contact form input:not([type="submit"]), .contact form textarea{
   display: block;
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border:1px solid #CCC;
   background-color:rgba(218,218,218,0.9)
}
.contact form input:not([type="submit"]):focus, .contact form textarea:focus{
   outline: 1px solid var(--main-color);
}
.contact form input{
   height: 40px;
}
.contact form textarea{
   height: 150px;
}
.contact form input[type="submit"]{
   padding:10px;
   width: 100%;
   border-color: transparent;
   background-color: var(--main-color);
   color:#FFF;
   cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
   opacity: 0;
   transition: 0.3s;
}
.contact form textarea:focus::-ms-input-placeholder,.contact form input:not([type="submit"]):focus::-ms-input-placeholder{
   opacity: 0;
   transition: 0.3s;
}
.contact form textarea:focus::placeholder,.contact form input:not([type="submit"]):focus::input-placeholder{
   opacity: 0;
   transition: 0.3s;
}
/* end contactus */

/* start grid system */
/* lec31 */